#placeQuery{
  border: 2px solid aqua;
  width: 15vw;
  height: 3vh;
  margin-top: 2vh;
  margin-right: 2.5vw;
}
#searchCurrentWeather{
  cursor: pointer;
  margin-top: 2vh;
  margin-right: 2.5vw;
  height: 4vh;
  width:2.5vw;
}
#clearSearch{
  margin-top: 0vh;
  background-color: transparent;
  color: red;
  font-size: 5vh;
  font-weight: 200;
  border: none;
}

@media only screen and (max-width: 1000px) {
  #placeQuery{
    margin-right: 5vw;
    width: 25vw;
  }

  #searchCurrentWeather{
    height: 3.5vh;
    width:5vw;
    margin-right: 4vw;
  }

  #clearSearch{
    margin-top: 0.5vh;
  }
}