#placeQuery{
  position: absolute;
  border: 2px solid aqua;
  top:36px;
  height:30px;
  width:300px;
}
#searchCurrentWeather{
  position: absolute;
  left:310px;
  margin-top:20px;
  margin-left:35px;
  cursor: pointer;
}
#clearSearch{
  position:absolute;
  left:430px;
  top:30px;
  color:red;
  opacity:0.5
}