#fiveDaysWeather{
  width: 98%;
  margin-top: 10vh;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.sideBorders{
  border-right:0.5px solid white;
  margin: 5px;
  padding: 5px;
  padding-right: 66px;

}