body{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7WflO3d3TssB39riruC6_yUndOrNMUiQt8Q&usqp=CAU');
  background-repeat: no-repeat;
  background-size:cover;

  display: flex;
  flex-flow: column nowrap;
  justify-content:space-around;
  align-items: center;
  font-weight: 500;
}

#inputForm{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  margin-top: 5vh;
}

#resultSection{
  width: 60%;
  margin-top: 10vh;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.divBorder {
  background-color: lightsteelblue;
  border: 1px solid white;
  border-radius: 20px;
}

#about{
  font-size: 2vh;
  text-align: center;
  padding: 1vh;
  background-color: transparent;
  width: 40%;
  border: 3px solid white;
  color: white;
  border-radius: 17px;
}

div{
      color: white;
      height: auto;
      width:auto;
      margin:10px;
      padding:5px;
}
button{
        background-color: #5affd8;
        padding: 10px;
        padding-bottom: 25px;
        border: 1px solid orange;
        border-radius: 4px;
        cursor: pointer;
        margin:5px;
        width:auto;
        height:30px;
}

@media only screen and (max-width: 1000px) {
  body {
    background-size: 100vh;
  }
  #about{
    font-size: 1.5vh;
    width: 90%;
  }
}